<nav class="w-full p-2 bg-blue-100 border-b border-gray-300 flex justify-center sticky top-0 z-40">
  <div class="w-full max-w-screen-2xl flex justify-between items-center">
    <!-- Logo y navegación -->
    <div class="w-fit gap-12 flex items-center">
      <div class="pt-2 pb-2 pr-4 pl-4">
        <a routerLink="/">
          <img class="w-[180px] object-contain" src="/assets/logos/logo_txt.png" alt="OndraSounds logo">
        </a>
      </div>

      <!-- Links mejorados (más grandes y con efecto hover) -->
      <div class="w-fit flex gap-6 text-[16px] font-semibold">
        <a
          class="nav-link hover:text-blue-600 cursor-pointer transition-colors duration-200"
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">
          Inicio
        </a>
        <a
          class="nav-link hover:text-blue-600 cursor-pointer transition-colors duration-200"
          routerLink="/explorar"
          routerLinkActive="active-link">
          Explorar contenido
        </a>
      </div>
    </div>

    <!-- Profile button -->
    <div class="w-fit flex items-center gap-4">
      <app-profile-button></app-profile-button>
    </div>
  </div>
</nav>
